*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(41, 148, 134);
    /* background-color: rgb(25, 138, 182); */
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
  }
.fl{
    display: flex;
}
.fl-c{
    justify-content: center;
}
.ta-c{
    text-align: center;
}
.m-5{
    margin: 5px;
}
.p-5{
    padding: 5px;
}
.bdr-5{
    border-radius: 5px;
}
.bkg-0{
    background-color: transparent;
}
.c-r{
    color: red;
}
.c-b{
    color: blue;
}
.c-w{
    color: wheat;
}
.sm-l{
    size: 0.8rem;
}
.c-g1{
    color: rgb(59, 153, 59);
}

.bg-g1{
    background-color: rgb(59, 153, 140);
}
.bg-g2{
    background-color: rgb(99, 116, 128);
}
.c-g2{
    color: rgb(59, 115, 153);
}
.sz-b{
    size: 3rem;
}

.umuti-ctn{
    margin: 12px 0;
    padding: 4px 0;
    border-radius: 28px;
    /* line-height: 1.5rem; */
}
.sen{
    font-family: Sen;
}
.inp-elm, .bdr-24{
    border-radius: 24px;
    padding: 12px;
    margin: 8px 0;
}
.btn{
    text-decoration: underline dashed white;
    font-size: 0.82rem;
    cursor: pointer;
}
button{
    border-radius: 12px;
    padding: 4px 8px;
    margin: 1rem 4px;
}
input{
    font-size: larger;
}
.bg-foo{
    width: 100%;
    position: absolute;
    background-color: rgb(41, 148, 134);
    z-index: 5;
}